{% extends 'base.html'%}
{%block navbar %}
   {% include 'navbar.html' %}
{% endblock %} 
{% block content %}
{% for quote in getquotes %}
<div>

<div class="card card-image" >
   <div class="text-white text-center rgba-stylish-strong py-5 px-4">
     <div class="py-5">
 
       <h5 class="h5 pink-text"><i class="fas fa-comment fa-fw"></i> Let's have amazing times together.</h5>
       <h2 class="card-title h2 my-4 py-2">{{quote.author}}</h2>
       <p class="mb-4 pb-2 px-md-5 mx-md-5">{{quote.quote}}</p>
       <a class="btn peach-gradient" aria-haspopup="true" aria-expanded="false" href = "{{url_for('main.allBlogs')}}"><i class="fas fa-clone left"></i> View Blogs</a>
 
     </div>
   </div>
 </div>
<div class="text-center">
   <h2>About Page</h2>
   <p>This site is for the ones who want to call their own shots. The ones who want to live differently.The busy ones.<br>The ones with expensive tastes without the funds to match.The ones who want a family-friendly<br> approach to streamlining life. The ones who want to live audaciously,but are not<br> sure where to start.Let's do life.</p>
</div>
<footer class="page-footer font-small warning-color-dark
#80103F">

   <div class="footer-copyright text-center py-3">© 2021 Copyright:Kipngeno Sigei|
     <a href="#"> Blog~Site</a>
   </div>
 </footer>
</div>
 {% endfor %}
 {% endblock %}